<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
  
    <div class="container">
  
      <%- include('./partials/nav') %>
      <p></p>
      <div class="card" style="width: 50%">
        <form method="post" action="/blog-add/" style="padding: 20px">
            <div class="form-group">
                <label for="blogTitle" class="text-primary">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle"></textarea>

                <label for="blogText" class="text-primary">Blog Text</label>
                <textarea class="form-control" id="blogText" rows="3" name="blogText"></textarea>
            
            </div>
                <input type="submit" class="btn btn-primary" value="Add Task">
        </form>
        </div>
  
  </body>
</html>
