<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    
    <div class="container">
      
      <%- include('./partials/nav') %>
      <p></p>
      
      <%  let blog1 = {}; %>
      <% if (blogs.length == 0) { %>
        <h4> No blogs to display. Add one above.</h4>
      
      <%}else {%>
        <% for(let i = 0; i < blogs.length; i++) { %>
          <% blog1 = blogs[i] %>
          <%- include('./partials/showblog', {blog: blog1}) %>
        <% } %>
      <% } %>


    </div>
  
  </body>
</html>
