<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Blog Site </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>

      <div class="container">

        <%- include('./partials/nav') %>
        <p></p>
        <h1><%= title %> Blog Site </h1>
        <p>Welcome to <%= title %>'s blog site. Here you will be able to see my blog posts!</p>
      
      </div>
      
  </body>
</html>
